@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import "../../../node_modules/bootstrap/dist/js/bootstrap.bundle"; */

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.topbar {
    height: 45px;
    background-color: rgb(214, 213, 213);
}

.sidebar {
    width: 300px;
    height: calc(100vh - 45px);
    padding: 10px 20px;
    background-color: rgb(247, 242, 242);
    box-shadow: rgba(0, 0, 0, 0.024) -1px 0px 0px 0px inset;
}

.sidebar-list {
    height: calc(100vh - 100px);
    overflow: auto;
}

.main {
    width: -webkit-fill-available;
    height: calc(100vh - 45px);
}